@{
    ViewBag.Title = "Video Streaming Example";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>VideoStreaming.Net example</h2>

<h3>Local Folder</h3>
<video width="480" height="320" controls="controls">
    <source src="/video/inner_folder/sample.mp4" type="video/mp4"/>
</video>

<h3>Amazon S3</h3>
<video width="480" height="320" controls="controls">
    <source src="/s3/sample.mp4" type="video/mp4"/>
</video>
